*, html {
    padding: 0;
    margin: 0;

}

.mesa{
    background-color: green;
    width: 100%;
    height: 100%;
    border: 30px solid black;
    box-sizing: border-box;
}

#raquete_um{
    height: 200px;
    background-color: white;
    width: 20px;
    box-sizing: 0px 0px 10px #000;

    position: relative;
    top: 10px;
    left: 10px;
}

#bolinha{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;

    position: relative;
    left: 20%;
    top: 20%;
}